/*
.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    display: block;
    width: 81.25vw;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 121px;
    min-width: 1170px;
    max-width: 1170px;
}

header {
    text-align: center;
}

header>p {
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #898F8F;
}

header>h1 {
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-variation-settings:
        "wdth" 100;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFCC00;
}

.divider-bonfire {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 40px 0;
}

.header-line {
    display: inline-block;
    width: 210px;
    height: 1px;
    background-color: #FFCC00;
}

.cards {
    display: flex;
    gap: 85px;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-left: 30px;
}

.card-item-photo {
    position: relative;
    display: inline-block;
}

.card-item-photo img {
    border: 1px solid #FFCC00;
    display: block;
    width: 400px;
}

.square-frame {
    position: absolute;
    inset: -15px;
    margin: 0;
    padding: 0;
    list-style: none;
    pointer-events: none;
}

.square-frame>li {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #FFCC00;
}

.square-frame>li.top-left {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: 0;
}

.square-frame>li.top-right {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
}

.square-frame>li.bottom-left {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
}

.square-frame>li.bottom-right {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.card-item-divider-line {
    display: inline-block;
    width: 2px;
    height: 560px;
    background-color: #FFCC00;
}

.divider-line-small {
    position: relative;
}

.divider-line-small span {
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #FFCC00;
    position: absolute;
    left: 50%;
    top: -4px;
    transform: translateX(-50%);
}

.social-links {
    list-style: none;
    display: flex;
    gap: 5px;
    justify-content: center;
    padding-inline-start: 0;
    margin-top: 30px;
}

.social-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #CCCCCC;
    border-radius: 50%;

}

h2 {
    text-align: center;
    font-size: 36px;
    color: #666666;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin-top: 0;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-size: 24px;
    color: #666666;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
}

.card-item-info {
    list-style: none;
}

.card-item-info p {
    margin-top: 35px;
    text-align: center;
    font-size: 14px;
    color: #333333;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 49px;
    line-height: 24px;
}

.divider-line-decore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 20px 0 30px;
}

.line-10 {
    display: inline-block;
    width: 10px;
    height: 4px;
    background-color: #FFCC00;
}

.line-20 {
    display: inline-block;
    width: 20px;
    height: 4px;
    background-color: #FFCC00;
}

button {
    display: block;
    margin: 0 auto;
    width: 118px;
    height: 24px;
    border-color: #FFCC00;
    border-style: solid;
    background-color: white;
}

button a {
    text-decoration: none;
    text-transform: uppercase;
    color: #666666;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}